body {
    background-image: URL(../images/backDrops/Dungeon/Dungeon4.jpg);
    background-size: 100%;
    font-family: 'MedievalSharp', cursive;
    color: rgb(104, 30, 28);
}
.container {
    color: rgb(104, 30, 28);
    background-image: url(../images/backDrops/dungeonWall.png);
    background-position: center;
    border-style: ridge;
    margin: 3% auto;
    padding: 1%;
}
.footer{
    font-family: 'MedievalSharp', cursive;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
        
}

h5{
    font-family: 'MedievalSharp', cursive;
    color: ghostwhite; 
}

.card{
    background-color: rgb(245, 245, 245, .7)

}

#adventureLog{
    background-image: url(../images/backDrops/adventureLog.jpg);
    background-position: center;
    color: rgb(104, 30, 28);
    opacity: 1;
}

p {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
