body {
    background-image: URL(../images/backDrops/Dungeon/Dungeon4.jpg);
    background-size: 100%;
    font-family: 'MedievalSharp', cursive;
    color: rgb(104, 30, 28);
}
.container {
    color: rgb(104, 30, 28);
    background-image: url(../images/backDrops/dungeonWall.png);
    background-position: center;
    border-style: ridge;
    margin: 3% auto;
    padding: 1%;
}
.footer{
    color:  ghostwhite;
    font-family: 'MedievalSharp', cursive;
    text-align: center;
}
.card{
    background-color: rgb(245, 245, 245, .7)

}

#adventureLog{
    background-image: url(../images/backDrops/adventureLog.jpg);
    background-position: center;
    color: rgb(104, 30, 28);
    opacity: 1;
}
